body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

p {
  font-size: 30px;
}

.title {
  font-size: 60px;
  color: green;
  text-transform: uppercase;
}
